In [1]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

In [3]:
df = pd.read_csv('toy_categorical_dataset.csv')
df.head()

   ID      Gender           City Satisfaction Level Education Level
0   1        Male       New York               High      Bachelor's
1   2      Female        Chicago             Medium        Master's
2   3  Non-binary  San Francisco                Low     High School
3   4      Female       New York          Very High             PhD
4   5        Male    Los Angeles             Medium      Bachelor's

In [ ]:
# Creating a column transformer
from sklearn.compose import ColumnTransformer

columnTransformer = ColumnTransformer(transformers=[
   ('tnf1', OneHotEncoder(drop='first'), ['Gender', 'City']),
   ('tnf2', OrdinalEncoder(categories=[['Very Low','Low', 'Medium', 'High', 'Very High'],['High School','Bachelor\'s', 'Master\'s', 'PhD']]), ['Satisfaction Level', 'Education Level']),
], remainder='drop')

In [13]:
columnTransformer.fit_transform(df)

array([[1., 0., 0., 0., 0., 0., 1., 0., 0., 3., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 2., 2.],
       [0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 4., 3.],
       [1., 0., 0., 0., 1., 0., 0., 0., 0., 2., 1.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 0., 0., 3., 2.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 2., 3.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 4., 2.]])